@charset "UTF-8";

body {
  background-color: #305692;
}
a {
  color: #fff;
}
a:visited {
  color: #ddd;
}
a:hover {
  color: #eee;
}
a:active {
  color:#ddd;
}
.maptitle {
  color: #fff;
  padding: 16px 8px;
}
.area {
  width: 400px;
  padding: 8px;
}
.station {
  display: inline-flex; /* 横並びにする */
 }
.station_name {
  height: 80px;
  width: 80px;
  color: #2C4C84;
  background-color: #CEDDF7;
  border-radius: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
 }
.stores {
  padding: 8px 8px 0 8px;
}
.store {
  padding: 0 0 8px 0;
}